<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!--default params-->
  <arg name="world_name" default="$(find world)/home_service_robot.world"/>

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

</launch>